@model List<UserSubject>
@*@{
    ViewData["Title"] = "Index";
}*@

<div class="container">
	<div class="row">
		<div class="col-6">
			<h1>Available Exam Subject Index</h1>
		</div>
	</div>
</div>

<table>
	<thead>
		<tr>
			<th width="20%">
				Subject Name
			</th>
			<th width="20%">
				Functional
			</th>
			<th width="20%">

			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var a in Model)
		{
			if (a.Subject.IsActive)
			{
				<tr>
					<td>
						@a.Subject.Subject_Name
					</td>
					<td>
						@a.Subject.IsActive
					</td>
					<td>
						@*<a asp-controller="Exam" asp-action="attempt" asp-route-Id="@a.SubjectId" class="btn btn-primary">Attempt</a>*@
						<a asp-controller="Exam" asp-action="AttemptWIthApi" asp-route-Id="@a.SubjectId" class="btn btn-primary">Attempt</a>

						@*<button type="button" id="fatchBtn" onclick="buttonClickHandler(@a.SubjectId)" class="btn btn-primary">Fetch Data</button>*@
					</td>
				</tr>
			}
		}		
		
	</tbody>
</table>
